<h1>Bookmarks</h1>

{% if bookmarks %}

Bookmarks:
<ol>
  {% for bookmark in bookmarks %}
  <li><a href="{{ bookmark.url }}">{{ bookmark.name }}</a></li>
  {% endfor %}
</ol>

{% else %}
Yes, we have no bookmarks
{% endif %}

{% if personal_bookmarks %}

Personal Bookmarks:

<ol>
    {% for bookmark in personal_bookmarks %}
    <li><a href="{{ bookmark.url }}">{{ bookmark.name }}</a></li>
    {% endfor %}
  </ol>
{% else %}
yes, we have no personal bookmarks
{% endif %}

<h2>New Bookmark</h2>

<form method="POST" class="bookmark=form">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="save btn btn-default">Save</button>
</form>